{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Tweet Map</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>
<body>

<section style="width: 100%;height: 100vh;">
    <div id="map"></div>
    <nav class="navbar navbar-default fixedElement">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" action="/filter/" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <form class="navbar-form navbar-left" role="search" action="/tweet/" method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="Search Tweets" name="myword" id="myword">
                            <input type="submit" value="Submit">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<script>
    function initMap() {
        if ({{firstCheck | safe}}) {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: {lat: 39.0550557, lng: 4.0322128}
            });
        } else {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: {lat: 39.0550557, lng: 4.0322128}
            });
            if ({{my_data | safe}}){
                var data_from_django = {{my_data | safe}};
                total_tweets = data_from_django.tweet;
                if (total_tweets.length <= 0) {
                    alert("No Tweets Found!");
                    return false;
                }
                for (var i = 0; i < total_tweets.length; i++) {
                    var res = total_tweets[i];
                    new google.maps.Marker({
                        position: res['location'],
                        map: map
                    });
                }
                alert(total_tweets.length + " entries added!");
            } else alert("No Data Found!");
        }
    }

//        google.maps.event.addListener(map, 'click', function (event) {
//            new google.maps.Marker({
//                position: event.latLng,
//                map: map
//            });
//            $.ajaxSetup({
//                beforeSend: function (xhr) {
//                    xhr.setRequestHeader("X-CSRFToken", "" + getCookie('csrftoken'));
//                }
//            });
//            $.ajax({
//                method: 'POST',
//                url: '/touch/',
//                data: {'lat': event.latLng.lat(), 'lng': event.latLng.lng()},
//                success: function (data) {
//                    //this gets called when server returns an OK response
//                    alert("it worked!");
//                },
//                error: function (data) {
//                    alert("it didnt work");
//                }
//            });
//        });
//
//    }
//
//    function getCookie(name) {
//        var cookieValue = null;
//        if (document.cookie && document.cookie != '') {
//            var cookies = document.cookie.split(';');
//            for (var i = 0; i < cookies.length; i++) {
//                var cookie = jQuery.trim(cookies[i]);
//                // Does this cookie string begin with the name we want?
//                if (cookie.substring(0, name.length + 1) == (name + '=')) {
//                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//                    break;
//                }
//            }
//        }
//        return cookieValue;
//    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap">
</script>
</body>
</html>
